body
{
  font-family: Consolas;
}

.container{
  width: 470px;
  background-color: #d9dcdd;
}

.controls{
  margin: auto;
  width: 460px;
  padding: 15px 0;
}

.todo-list-container{
  margin: auto;
  width: 453px;
  margin-left: 5px;
  flex-flow: column nowrap;
  background-color: #d6f8ff;
  border: 1px solid black;
  min-height: 20px;
}

input[type=text]
{
  width: 167px;
  line-height: 25px;
  padding: 5px;
}

button{
  background-color: #35ac39;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.clear-btn
{
  background-color: #3084e4;
}

.todo-list{
  margin: 0;
  padding: 10px;
}

.todo{
  margin-bottom: 10px;
  margin-left: 5px;
}

.uncompleted-todos
{
  font-size: 14px;
}